<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userList">
      <th scope="row">{{item.id}}</th>
      <td><img [src]="item.avatar"></td>
      <td>{{item.first_name}}</td>
      <td>{{item.last_name}}</td>
      <td>{{item.email}}</td>
      <td><a [routerLink]="['/user/'+item.id]">View</a></td>
    </tr>
  </tbody>
</table>